name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: setup env
      run: |
        git clone https://github.com/RaspberryPi/pico-sdk --recurse-submodules ~/pico-sdk
        git clone -b smp https://github.com/FreeRTOS/FreeRTOS-Kernel --recurse-submodules ~/FreeRTOS-Kernel
        export PICO_SDK_PATH=~/pico-sdk
        export FREERTOS_KERNEL_PATH=~/FreeRTOS-Kernel
    - name: make
      run:  mkdir build && cd build && cmake .. && make 
    
